<%= form_with(model: @category, local: true) do |form| %>
<% if @category.errors.any? %>
  <div id="error_explanation" class="form">
    <h2><%= pluralize(@category.errors.count, "error") %>
      prohibited this article from being saved:</h2>

    <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form" align="center">
  <div class="form-group" align="center">
    <%= form.text_field :name, class: "form-control", placeholder: "Category Name", autofocus: true %>
  </div>
</div>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>
